/* form>input{
    display:flex;
    position:relative;
    left:40rem;
} */
.coinsearch{
    margin-bottom:64px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2rem;
  }
  .coininput{
    margin-bottom:32px;
    text-align:center;
  }
  