*{
  margin:0;
  padding:0;
  background-color:#1a1a1c;
  color:#fff;
}

.coinapp{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:64px;
  color:#fff;
}




input{
  padding-left:16px;
  width:300px;
  height:50px;
  border-radius:4px;
  background:
  linear-gradient(red, transparent),
  linear-gradient(to top left, lime, transparent),
  linear-gradient(to top right, blue, transparent);
background-blend-mode: screen;
  color:#e2e2e2;
 
}

input::placeholder{
  color:#e2e2e2;
}